/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

/*================================================
[  Table of contents  ]
================================================
::General
::Back to Top
::Loader
::Buttons
::Div Shadow
::Page Section Margin Padding 
::Text Weight 
::Text color
::Font size
::Background color
::BG Effects
::Background Gradient
::Section Title
::Header
::Banner
::How it Works
::Who is sofbox?
::Software features
::Great screenshots
::Special features
::Sofbox specialities
::counter
::Loved By Our Customers
::Affordable Price
::Meet the team
::Compare services
::Frequently asked questions
::Latest Blog Post
::Our clients
::Subscribe Our Newsletter
::Get in touch
::Footer Info
::Breadcrumb inner page
::Blog Page
::Blog - sidebar
::404 Error
::Coming soon
======================================
[ End table content ]
======================================*/

/*---------------------------------------------------------------------
                               General
-----------------------------------------------------------------------*/

body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 24px; color: #666666; }
a, .button { transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; color: #333333; }
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #4ac4f3; text-decoration: none !important; }
a, .button, input { outline: medium none !important; color: #4ac4f3; }
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; font-weight: normal; color: #333333; margin-top: 0px; margin-bottom: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 40px; font-style: normal; line-height: 46px; }
h2 { font-size: 36px; font-style: normal; line-height: 44px; }
h3 { font-size: 32px; font-style: normal; line-height: 42px; }
h4 { font-size: 24px; font-style: normal; line-height: 24px; }
h5 { font-size: 20px; font-style: normal; line-height: 30px; }
h6 { font-size: 18px; font-style: normal; line-height: 28px; }
.lead { font-size: 16px; line-height: 24px; margin: 0; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #e0e0e0; border-top: 0px; }
label { font-size: 15px; font-weight: 400; color: #aaaaaa; }
.label { color: #fff !important; font-size: 9px !important; }
blockquote { border-left: 5px solid #4ac4f3; font-size: 16px; }
*::-moz-selection { background: #4ac4f3; color: #fff; text-shadow: none; }
::-moz-selection { background: #4ac4f3; color: #fff; text-shadow: none; }
::selection { background: #4ac4f3; color: #fff; text-shadow: none; }
.valign, .valign > [class*='col-'] { display: table-cell; float: none; }
[data-valign-overlay="top"] { vertical-align: top; }
[data-valign-overlay="bottom"] { vertical-align: bottom; }
[data-valign-overlay="middle"] { vertical-align: middle; }
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.no-padding { padding: 0px !important; }
.no-border { border: none !important; }

/*---------------------------------------------------------------------
                               Back to Top
-----------------------------------------------------------------------*/
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: #fff; background: #333333; position: fixed; bottom: 25px; right: 25px; z-index: 999; font-size: 26px; width: 50px; height: 50px; text-align: center; line-height: 50px; border-radius: 90px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { background: #4ac4f3; color: #fff; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

/*---------------------------------------------------------------------
                                Loader
-----------------------------------------------------------------------*/
#loading { background-color: #eee; height: 100%; width: 100%; position: fixed; margin-top: 0px; top: 0px; left: 0px; bottom: 0px; overflow: hidden !important; right: 0px; z-index: 999999; }
#loading-center { width: 100%; height: 100%; position: relative; }
.loader { width: 3em; height: 3em;  margin: auto; left: 0; right: 0; top: 0; bottom: 0;  position: absolute;}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateX(-37.5deg) rotateY(45deg); transform: rotateX(-37.5deg) rotateY(45deg); }
  50% { -webkit-transform: rotateX(-37.5deg) rotateY(405deg); transform: rotateX(-37.5deg) rotateY(405deg); }
  100% { -webkit-transform: rotateX(-37.5deg) rotateY(405deg); transform: rotateX(-37.5deg) rotateY(405deg); }
}
@keyframes rotate {
  0% { -webkit-transform: rotateX(-37.5deg) rotateY(45deg); transform: rotateX(-37.5deg) rotateY(45deg); }
  50% { -webkit-transform: rotateX(-37.5deg) rotateY(405deg); transform: rotateX(-37.5deg) rotateY(405deg); }
  100% { -webkit-transform: rotateX(-37.5deg) rotateY(405deg); transform: rotateX(-37.5deg) rotateY(405deg); }
}
.cube, .cube * { position: absolute; width: 71px; height: 71px; left: 0; right: 0; top: 0; bottom: 0; }
.sides { -webkit-animation: rotate 3s ease infinite; animation: rotate 3s ease infinite; -webkit-animation-delay: .8s; animation-delay: .8s; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform: rotateX(-37.5deg) rotateY(45deg); transform: rotateX(-37.5deg) rotateY(45deg); }
.cube .sides * { box-sizing: border-box; background-color: rgba(74, 196, 243, 0.8); border: 5px solid white; }
.cube .sides .top { -webkit-animation: top-animation 3s ease infinite; animation: top-animation 3s ease infinite; -webkit-animation-delay: 0ms; animation-delay: 0ms; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes top-animation {
  0% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(35px); transform: rotateX(90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(35px); transform: rotateX(90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
}
@keyframes top-animation {
  0% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(35px); transform: rotateX(90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(35px); transform: rotateX(90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateX(90deg) translateZ(90px); transform: rotateX(90deg) translateZ(90px); }
}
.cube .sides .bottom { -webkit-animation: bottom-animation 3s ease infinite; animation: bottom-animation 3s ease infinite; -webkit-animation-delay: 0ms; animation-delay: 0ms; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes bottom-animation {
  0% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(35px); transform: rotateX(-90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(35px); transform: rotateX(-90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
}
@keyframes bottom-animation {
  0% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(35px); transform: rotateX(-90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(35px); transform: rotateX(-90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }
}
.cube .sides .front { -webkit-animation: front-animation 3s ease infinite; animation: front-animation 3s ease infinite; -webkit-animation-delay: 100ms; animation-delay: 100ms; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes front-animation {
  0% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(35px); transform: rotateY(0deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(35px); transform: rotateY(0deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
}
@keyframes front-animation {
  0% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(35px); transform: rotateY(0deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(35px); transform: rotateY(0deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(0deg) translateZ(90px); transform: rotateY(0deg) translateZ(90px); }
}
.cube .sides .back { -webkit-animation: back-animation 3s ease infinite; animation: back-animation 3s ease infinite; -webkit-animation-delay: 100ms; animation-delay: 100ms; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes back-animation {
  0% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(35px); transform: rotateY(-180deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(35px); transform: rotateY(-180deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
}
@keyframes back-animation {
  0% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(35px); transform: rotateY(-180deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(35px); transform: rotateY(-180deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(-180deg) translateZ(90px); transform: rotateY(-180deg) translateZ(90px); }
}
.cube .sides .left { -webkit-animation: left-animation 3s ease infinite; animation: left-animation 3s ease infinite; -webkit-animation-delay: 100ms; animation-delay: 100ms; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes left-animation {
  0% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(35px); transform: rotateY(-90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(35px); transform: rotateY(-90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
}
@keyframes left-animation {
  0% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(35px); transform: rotateY(-90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(35px); transform: rotateY(-90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(-90deg) translateZ(90px); transform: rotateY(-90deg) translateZ(90px); }
}
.cube .sides .right { -webkit-animation: right-animation 3s ease infinite; animation: right-animation 3s ease infinite; -webkit-animation-delay: 100ms; animation-delay: 100ms; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
@-webkit-keyframes right-animation {
  0% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(35px); transform: rotateY(90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(35px); transform: rotateY(90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
}
@keyframes right-animation {
  0% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
  20% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(35px); transform: rotateY(90deg) translateZ(35px); }
  70% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(35px); transform: rotateY(90deg) translateZ(35px); }
  90% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
  100% { opacity: 1; -webkit-transform: rotateY(90deg) translateZ(90px); transform: rotateY(90deg) translateZ(90px); }
}

/*----------------------------------------------------------------------
                        Buttons
-----------------------------------------------------------------------*/
.button { color: #fff; padding: 12px 36px; font-weight: 500; font-size: 16px; border: none; position: relative; background: #4ac4f3; font-family: 'Raleway', sans-serif; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.button:hover, .button:focus { color: #ffffff; background: #333333; }

/* Buttons white */
.button.bt-white { color: #333; background: #fff; }
.button.bt-white:hover, .button.bt-white:focus { color: #ffffff; background: #4ac4f3; }

/* Buttons white 2 */
.button.bt-black { color: #333; background: #fff; }
.button.bt-black:hover, .button.bt-black:focus { color: #ffffff; background: #333; }

/*----------------------------------------------------------------------
                                Div Shadow
-----------------------------------------------------------------------*/
.iq-box-shadow { position: relative; z-index: 9; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

/*---------------------------------------------------------------------
                    Page Section Margin Padding 
---------------------------------------------------------------------*/

/*----------------
Section padding 
----------------*/
.overview-block-ptb { padding: 100px 0; }
.overview-block-pt { padding: 100px 0 0; }
.overview-block-pb { padding: 0 0 100px; }

/*----------------
Padding All 
----------------*/
.iq-pall { padding: 0px !important; }
.iq-pall-10 { padding: 10px !important; }
.iq-pall-15 { padding: 15px !important; }
.iq-pall-20 { padding: 20px !important; }
.iq-pall-25 { padding: 25px !important; }
.iq-pall-30 { padding: 30px !important; }
.iq-pall-40 { padding: 40px !important; }
.iq-pall-50 { padding: 50px !important; }
.iq-pall-60 { padding: 60px !important; }
.iq-pall-70 { padding: 70px !important; }
.iq-pall-80 { padding: 80px !important; }
.iq-pall-90 { padding: 90px !important; }
.iq-pall-100 { padding: 100px !important; }

/*----------------
Padding Top and Bottom 
----------------*/
.iq-ptb-0 { padding: 0 !important; }
.iq-ptb-10 { padding: 10px 0 !important; }
.iq-ptb-15 { padding: 15px 0 !important; }
.iq-ptb-20 { padding: 20px 0 !important; }
.iq-ptb-25 { padding: 25px 0 !important; }
.iq-ptb-30 { padding: 30px 0 !important; }
.iq-ptb-40 { padding: 40px 0 !important; }
.iq-ptb-50 { padding: 50px 0 !important; }
.iq-ptb-60 { padding: 60px 0 !important; }
.iq-ptb-70 { padding: 70px 0 !important; }
.iq-ptb-80 { padding: 80px 0 !important; }
.iq-ptb-90 { padding: 90px 0 !important; }
.iq-ptb-100 { padding: 100px 0 !important; }

/*----------------
Padding Left and right 
----------------*/
.iq-plr-0 { padding: 0 !important; }
.iq-plr-10 { padding: 0 10px !important; }
.iq-plr-15 { padding: 0 15px !important; }
.iq-plr-20 { padding: 0 20px !important; }
.iq-plr-25 { padding: 0 25px !important; }
.iq-plr-30 { padding: 0 30px !important; }
.iq-plr-40 { padding: 0 40px !important; }
.iq-plr-50 { padding: 0 50px !important; }
.iq-plr-60 { padding: 0 60px !important; }
.iq-plr-70 { padding: 0 70px !important; }
.iq-plr-80 { padding: 0 80px !important; }
.iq-plr-90 { padding: 0 90px !important; }
.iq-plr-100 { padding: 0 100px !important; }

/*----------------
Padding top 
----------------*/
.iq-pt-0 { padding-top: 0px !important; }
.iq-pt-10 { padding-top: 10px !important; }
.iq-pt-15 { padding-top: 15px !important; }
.iq-pt-20 { padding-top: 20px !important; }
.iq-pt-25 { padding-top: 25px !important; }
.iq-pt-30 { padding-top: 30px !important; }
.iq-pt-40 { padding-top: 40px !important; }
.iq-pt-50 { padding-top: 50px !important; }
.iq-pt-60 { padding-top: 60px !important; }
.iq-pt-70 { padding-top: 70px !important; }
.iq-pt-80 { padding-top: 80px !important; }
.iq-pt-90 { padding-top: 90px !important; }
.iq-pt-100 { padding-top: 100px !important; }

/*----------------
Padding Bottom 
----------------*/
.iq-pb-0 { padding-bottom: 0px !important; }
.iq-pb-10 { padding-bottom: 10px !important; }
.iq-pb-15 { padding-bottom: 15px !important; }
.iq-pb-20 { padding-bottom: 20px !important; }
.iq-pb-25 { padding-bottom: 25px !important; }
.iq-pb-30 { padding-bottom: 30px !important; }
.iq-pb-40 { padding-bottom: 40px !important; }
.iq-pb-50 { padding-bottom: 50px !important; }
.iq-pb-60 { padding-bottom: 60px !important; }
.iq-pb-70 { padding-bottom: 70px !important; }
.iq-pb-80 { padding-bottom: 80px !important; }
.iq-pb-90 { padding-bottom: 90px !important; }
.iq-pb-100 { padding-bottom: 100px !important; }

/*----------------
Padding Left 
----------------*/
.iq-pl-0 { padding-left: 0 !important; }
.iq-pl-10 { padding-left: 10px !important; }
.iq-pl-15 { padding-left: 15px !important; }
.iq-pl-20 { padding-left: 20px !important; }
.iq-pl-25 { padding-left: 25px !important; }
.iq-pl-30 { padding-left: 30px !important; }
.iq-pl-40 { padding-left: 40px !important; }
.iq-pl-50 { padding-left: 50px !important; }
.iq-pl-60 { padding-left: 60px !important; }
.iq-pl-70 { padding-left: 70px !important; }
.iq-pl-80 { padding-left: 80px !important; }
.iq-pl-90 { padding-left: 90px !important; }
.iq-pl-100 { padding-left: 100px !important; }

/*----------------
Padding Right 
----------------*/
.iq-pr-0 { padding-right: 0px !important; }
.iq-pr-10 { padding-right: 10px !important; }
.iq-pr-15 { padding-right: 15px !important; }
.iq-pr-20 { padding-right: 20px !important; }
.iq-pr-25 { padding-right: 25px !important; }
.iq-pr-30 { padding-right: 30px !important; }
.iq-pr-40 { padding-right: 40px !important; }
.iq-pr-50 { padding-right: 50px !important; }
.iq-pr-60 { padding-right: 60px !important; }
.iq-pr-70 { padding-right: 70px !important; }
.iq-pr-80 { padding-right: 80px !important; }
.iq-pr-90 { padding-right: 90px !important; }
.iq-pr-100 { padding-right: 100px !important; }

/*----------------
Margin All 
----------------*/
.iq-mall-0 { margin: 0 !important; }
.iq-mall-10 { margin: 10px !important; }
.iq-mall-15 { margin: 15px !important; }
.iq-mall-20 { margin: 20px !important; }
.iq-mall-25 { margin: 25px !important; }
.iq-mall-30 { margin: 30px !important; }
.iq-mall-40 { margin: 40px !important; }
.iq-mall-50 { margin: 50px !important; }
.iq-mall-60 { margin: 60px !important; }
.iq-mall-70 { margin: 70px !important; }
.iq-mall-80 { margin: 80px !important; }
.iq-mall-90 { margin: 90px !important; }
.iq-mall-100 { margin: 100px !important; }

/*----------------
Margin Top and Bottom 
----------------*/
.iq-mtb-0 { margin: 0 !important; }
.iq-mtb-10 { margin: 10px 0 !important; }
.iq-mtb-15 { margin: 15px 0 !important; }
.iq-mtb-20 { margin: 20px 0 !important; }
.iq-mtb-25 { margin: 25px 0 !important; }
.iq-mtb-30 { margin: 30px 0 !important; }
.iq-mtb-40 { margin: 40px 0 !important; }
.iq-mtb-50 { margin: 50px 0 !important; }
.iq-mtb-60 { margin: 60px 0 !important; }
.iq-mtb-70 { margin: 70px 0 !important; }
.iq-mtb-80 { margin: 80px 0 !important; }
.iq-mtb-90 { margin: 90px 0 !important; }
.iq-mtb-100 { margin: 100px 0 !important; }

/*----------------
Margin Left and Right 
----------------*/
.iq-mlr-0 { margin: 0 !important; }
.iq-mlr-10 { margin: 0 10px !important; }
.iq-mlr-15 { margin: 0 15px !important; }
.iq-mlr-20 { margin: 0 20px !important; }
.iq-mlr-25 { margin: 0 25px !important; }
.iq-mlr-30 { margin: 0 30px !important; }
.iq-mlr-40 { margin: 0 40px !important; }
.iq-mlr-50 { margin: 0 50px !important; }
.iq-mlr-60 { margin: 0 60px !important; }
.iq-mlr-70 { margin: 0 60px !important; }
.iq-mlr-80 { margin: 0 80px !important; }
.iq-mlr-90 { margin: 0 80px !important; }
.iq-mlr-100 { margin: 0 100px !important; }

/*----------------
Margin Top 
----------------*/
.iq-mt-0 { margin-top: 0px !important; }
.iq-mt-10 { margin-top: 10px !important; }
.iq-mt-15 { margin-top: 15px !important; }
.iq-mt-20 { margin-top: 20px !important; }
.iq-mt-25 { margin-top: 25px !important; }
.iq-mt-30 { margin-top: 30px !important; }
.iq-mt-40 { margin-top: 40px !important; }
.iq-mt-50 { margin-top: 50px !important; }
.iq-mt-60 { margin-top: 60px !important; }
.iq-mt-70 { margin-top: 70px !important; }
.iq-mt-80 { margin-top: 80px !important; }
.iq-mt-90 { margin-top: 90px !important; }
.iq-mt-100 { margin-top: 100px !important; }

/*----------------
Margin Bottom 
----------------*/
.iq-mb-0 { margin-bottom: 0px !important; }
.iq-mb-10 { margin-bottom: 10px !important; }
.iq-mb-15 { margin-bottom: 15px !important; }
.iq-mb-20 { margin-bottom: 20px !important; }
.iq-mb-25 { margin-bottom: 25px !important; }
.iq-mb-30 { margin-bottom: 30px !important; }
.iq-mb-40 { margin-bottom: 40px !important; }
.iq-mb-50 { margin-bottom: 50px !important; }
.iq-mb-60 { margin-bottom: 60px !important; }
.iq-mb-70 { margin-bottom: 70px !important; }
.iq-mb-80 { margin-bottom: 80px !important; }
.iq-mb-90 { margin-bottom: 90px !important; }
.iq-mb-100 { margin-bottom: 100px !important; }

/*----------------
Margin Left 
----------------*/
.iq-ml-0 { margin-left: 0px !important; }
.iq-ml-10 { margin-left: 10px !important; }
.iq-ml-15 { margin-left: 15px !important; }
.iq-ml-20 { margin-left: 20px !important; }
.iq-ml-25 { margin-left: 25px !important; }
.iq-ml-30 { margin-left: 30px !important; }
.iq-ml-40 { margin-left: 40px !important; }
.iq-ml-50 { margin-left: 50px !important; }
.iq-ml-60 { margin-left: 60px !important; }
.iq-ml-70 { margin-left: 70px !important; }
.iq-ml-80 { margin-left: 80px !important; }
.iq-ml-90 { margin-left: 90px !important; }
.iq-ml-100 { margin-left: 100px !important; }

/*----------------
Margin Right
----------------*/
.iq-mr-0 { margin-right: 0px !important; }
.iq-mr-10 { margin-right: 10px !important; }
.iq-mr-15 { margin-right: 15px !important; }
.iq-mr-20 { margin-right: 20px !important; }
.iq-mr-25 { margin-right: 25px !important; }
.iq-mr-30 { margin-right: 30px !important; }
.iq-mr-40 { margin-right: 40px !important; }
.iq-mr-50 { margin-right: 50px !important; }
.iq-mr-60 { margin-right: 60px !important; }
.iq-mr-70 { margin-right: 70px !important; }
.iq-mr-80 { margin-right: 80px !important; }
.iq-mr-90 { margin-right: 90px !important; }
.iq-mr-100 { margin-right: 100px !important; }

/*---------------------------------------------------------------------
                            Text Weight 
-----------------------------------------------------------------------*/
.iq-tw-1 { font-weight: 100; }
.iq-tw-2 { font-weight: 200; }
.iq-tw-3 { font-weight: 300; }
.iq-tw-4 { font-weight: 400; }
.iq-tw-5 { font-weight: 500; }
.iq-tw-6 { font-weight: 600; }
.iq-tw-7 { font-weight: 700; }
.iq-tw-8 { font-weight: 800; }
.iq-tw-9 { font-weight: 900; }

/*---------------------------------------------------------------------
                            Text Color 
-----------------------------------------------------------------------*/
.iq-font-blue { color: #4ac4f3; }
.iq-font-white { color: #ffffff; }
.iq-font-black { color: #333333; }
.iq-font-light { color: #666666; }

/*---------------------------------------------------------------------
                            Font Size 
-----------------------------------------------------------------------*/
.iq-font-15 { font-size: 15px; }
.iq-font-30 { font-size: 30px; }

/*---------------------------------------------------------------------
                          Background Color 
-----------------------------------------------------------------------*/
.white-bg { background: #ffffff; }
.grey-bg { background: #f5f7fb; }
.blue-bg { background: #4ac4f3; }

/*---------------------------------------------------------------------
                             BG Effect
-----------------------------------------------------------------------*/
.iq-bg { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; }
.iq-bg-fixed { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; background-attachment: fixed !important; }

/*---------------------------------------------------------------------
                       Background Gradient 
---------------------------------------------------------------------*/
.iq-over-blue-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(74, 196, 243, 0.8); }
.iq-over-blue-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(74, 196, 243, 0.9); }
.iq-over-black-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.8); }
.iq-over-black-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.9); }
[class*='iq-over-']:before { z-index: 0; }

/*---------------------------------------------------------------------
                           Section Title
-----------------------------------------------------------------------*/
.heading-title { margin-bottom: 80px; text-align: center; }
.heading-title .title { position: relative; padding-bottom: 20px; margin-bottom: 25px; }
.heading-title .title:before { content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -40px; width: 80px; height: 4px; background: #4ac4f3; }
.heading-title p { padding: 0 80px; display: block; margin-bottom: 50px; }

/* Section title white */
.heading-title.white .title { color: #fff; }
.heading-title.white .title:before { background: #fff; }
.iq-fadebounce { -webkit-animation-name: fadebounce; -moz-animation-name: fadebounce; -ms-animation-name: fadebounce; -o-animation-name: fadebounce; animation-name: fadebounce; -webkit-animation-duration: 3s; -moz-animation-duration: 3s; -ms-animation-duration: 3s; -o-animation-duration: 3s; animation-duration: 3s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; }
@-moz-keyframes fadebounce {
  0% { -moz-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -moz-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -moz-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-webkit-keyframes fadebounce {
  0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -webkit-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-o-keyframes fadebounce {
  0% { -o-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -o-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -o-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-ms-keyframes fadebounce {
  0% { -ms-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -ms-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -ms-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@keyframes fadebounce {
  0% { transform: translateY(0); opacity: 1 }
  50% { transform: translateY(20px); opacity: 1 }
  100% { transform: translateY(0); opacity: 1 }
}

/*---------------------------------------------------------------------
                            Header
-----------------------------------------------------------------------*/
header { position: fixed; display: inline-block; width: 100%; top: 0; left: 0; z-index: 999; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
header .navbar-header .navbar-brand img { height: 60px; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
header .navbar-default { background: none; border: none; border-radius: 0px; min-height: inherit; margin: 0; padding: 20px 0 0; }
header .navbar-default .navbar-brand { height: inherit; padding: 0; }
header .navbar-nav { background: #fff; margin-top: 5px; border-radius: 4px; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
header .navbar-default .navbar-nav > li > a { color: #333; padding: 15px 20px; font-weight: 500; font-family: 'Raleway', sans-serif; font-size: 16px; }
header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus, header .navbar-default .navbar-nav > li.active > a, header .navbar-default .navbar-nav > li.active > a:focus, header .navbar-default .navbar-nav > li.active > a:hover { color: #4ac4f3; background: none; box-shadow: none; }
header .button { margin-top: 5px; margin-left: 30px; padding:11px 20px 11px; font-size: 28px; }

/* Header sticky */
header .menu-sticky { -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); background: rgba(74, 196, 243, 0.9); }
header .menu-sticky .navbar-header .navbar-brand img { height: 50px; }
header .menu-sticky.navbar-default { padding: 13px 0; }
header .menu-sticky .navbar-nav { margin-top: 0; }
header .menu-sticky .button { margin-top: 0px; }

/*---------------------------------------------------------------------
                            Banner
-----------------------------------------------------------------------*/
.iq-banner { position: relative; }
.iq-banner:after { content: ""; bottom: -2px; left: 0; width: 100%; height: 78px; background: url('../images/banner/02.png') no-repeat 0 0; background-size: cover; display: inline-block; position: absolute; }
.iq-banner .banner-text { z-index: 9; position: relative; margin-top: 13%; }
.iq-banner .banner-text h1 { font-size: 64px; line-height: normal; }
.iq-banner .banner-img { margin-bottom: -80px; }
.banner-objects { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; overflow: hidden; }
.banner-objects .banner-objects-01 { position: absolute; right: -0%; bottom: 20%; opacity: 0.2; }
.banner-objects .banner-objects-02 { position: absolute; bottom: 50%; margin-bottom: -280px; left: -20%; border: 30px solid rgba(255, 255, 255, 0.2); border-radius: 900px; height: 400px; width: 400px; }
.banner-objects .banner-objects-03 { position: absolute; top: 50%; right: 25%; border: 20px solid rgba(255, 255, 255, 0.2); border-radius: 900px; height: 300px; width: 300px; }
.banner-objects .banner-objects-04 { position: absolute; top: 20%; left: 10%; opacity: 0.2; }

/*---------------------------------------------------------------------
                            How it Works
-----------------------------------------------------------------------*/
.iq-works-box { padding: 50px 20px; position: relative; }
.iq-works-box .icon-bg { background: rgba(31, 76, 255, 0.1); height: 100px; width: 100px; border-radius: 100px; }
.iq-works-box .icon-bg i { font-size: 50px; line-height: 100px; color: #4ac4f3; }
.iq-works-box .step { font-size: 20px; background: #ffffff; border-radius: 100px; border: 1px solid #f7f7f7; color: #4ac4f3; width: 38px; height: 38px; line-height: 38px; text-align: center; position: absolute; top: 40px; }

/*---------------------------------------------------------------------
                            Who is Sofbox ?
-----------------------------------------------------------------------*/
.how-works { position: relative; overflow: hidden; }
.iq-works-img { width: 120%; }
.iq-objects { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; z-index: -1; }
.iq-objects .iq-objects-01 { position: absolute; bottom: 10%; left: 0; }
.iq-objects .iq-objects-02 { position: absolute; top: 10%; right: 35%; }
.iq-objects .iq-objects-03 { position: absolute; top: 30%; right: 0; }
.iq-objects .iq-objects-04 { position: absolute; top: 0%; right: -13%; border: 56px solid #4ac4f3; border-radius: 900px; height: 600px; width: 600px; }

/*---------------------------------------------------------------------
                            Software Features
-----------------------------------------------------------------------*/
.software { position: relative; }
.iq-software-demo { position: absolute; top: 50px; height: 100%; width: 50%; left: 0; }
.iq-list li { margin-bottom: 15px; line-height: 26px; }
.iq-list li i { float: left; }
.iq-list li span { display: table-cell; }
.iq-objects-software { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; z-index: -1; }
.iq-objects-software .iq-objects-01 { position: absolute; top: 0; left: 0; }
.iq-objects-software .iq-objects-02 { position: absolute; bottom: 5%; left: 15%; }
.iq-objects-software .iq-objects-03 { position: absolute; top: 0%; left: 10%; border: 40px solid #4ac4f3; border-radius: 900px; height: 600px; width: 600px; }

/*---------------------------------------------------------------------
                         Great screenshots
-----------------------------------------------------------------------*/
.iq-screenshots { overflow: hidden; position: relative; }
@keyframes heartbeat {
  0% { transform: scale(0); }
  25% { transform: scale(1.2); }
  50% { transform: scale(1); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.screenshots-slider { display: inline-block; width: 100%; min-height: 580px; }
.slider-container { position: absolute; left: 50%; top: 50%; width: 780px; height: 580px; margin: -300px 0 0 -400px; }
.slider-container .slider-content { position: relative; left: 50%; top: 50%; width: 100%; height: 100%; transform: translate(-50%, -50%); }
.slider-container .slider-content .slider-single { position: absolute; z-index: 0; left: 0; top: 0; width: 100%; height: 100%; transition: z-index 0ms 250ms; }
.slider-container .slider-content .slider-single .slider-single-image { position: relative; left: 0; top: 0; width: 100%; height: 100%; box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2); transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43); transform: scale(0); opacity: 0; }
.slider-container .slider-content .slider-single.preactivede .slider-single-image { transform: translateX(-50%) scale(0); }
.slider-container .slider-content .slider-single.preactive { z-index: 1; }
.slider-container .slider-content .slider-single.preactive .slider-single-image { opacity: .3; transform: translateX(-25%) scale(0.8); }
.slider-container .slider-content .slider-single.proactive { z-index: 1; }
.slider-container .slider-content .slider-single.proactive .slider-single-image { opacity: .3; transform: translateX(25%) scale(0.8); }
.slider-container .slider-content .slider-single.proactivede .slider-single-image { transform: translateX(50%) scale(0); }
.slider-container .slider-content .slider-single.active { z-index: 2; }
.slider-container .slider-content .slider-single.active .slider-single-image { opacity: 1; transform: translateX(0%) scale(1); }
.slider-container .slider-left { position: absolute; z-index: 3; display: block; right: 115%; top: 50%; color: #ffffff; transform: translateY(-50%); padding: 20px 15px; font-size: 60px; }
.slider-container .slider-right { position: absolute; z-index: 3; display: block; left: 115%; top: 50%; color: #ffffff; transform: translateY(-50%); padding: 20px 15px; font-size: 60px; }

/*---------------------------------------------------------------------
                             Special Features
-----------------------------------------------------------------------*/
.iq-amazing-tab .nav.nav-tabs { border-bottom: 1px solid #e9e9e9; overflow: hidden; text-align: center; }
.iq-amazing-tab .nav.nav-tabs li { margin-bottom: 0; display: inline-block; float: none; width: 25%; }
.iq-amazing-tab .nav.nav-tabs li a { width: 100%; display: inline-block; position: relative; padding: 20px 40px; margin-right: 0; text-align: center; color: #666666; border: none; position: relative; }
.iq-amazing-tab .nav-tabs li a i { font-size: 50px; margin-right: 20px; vertical-align: middle; text-align: right; }
.iq-amazing-tab .nav.nav-tabs li a span { font-size: 18px; font-family: 'Raleway', sans-serif; font-weight: 600; line-height: 40px; vertical-align: sub; text-align: left; }
.iq-amazing-tab .nav.nav-tabs li a:hover { color: #4ac4f3; background: none; border: none; }
.iq-amazing-tab .nav.nav-tabs li a:hover i { color: #4ac4f3; }
.iq-amazing-tab .nav.nav-tabs li.active1 a, .iq-amazing-tab .nav.nav-tabs li.active1 a:hover, .iq-amazing-tab .nav.nav-tabs li.active1 a:focus { color: #333333; background: none; border: none; }
.iq-amazing-tab .nav.nav-tabs li.active1 a i, .iq-amazing-tab .nav.nav-tabs li.active1 a:hover i, .iq-amazing-tab .nav.nav-tabs li.active1 a:focus i { color: #4ac4f3; }
.iq-amazing-tab .nav.nav-tabs li a:before, .iq-amazing-tab .nav.nav-tabs li a:hover:before, .iq-amazing-tab .nav.nav-tabs li a:focus:before { position: absolute; left: -100%; bottom: -1px; height: 3px; width: 100%; content: ""; opacity: 0; background: #4ac4f3; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.iq-amazing-tab .nav.nav-tabs li.active1 a:before, .iq-amazing-tab .nav.nav-tabs li.active1 a:hover:before, .iq-amazing-tab .nav.nav-tabs li.active1 a:focus:before, .iq-amazing-tab .nav.nav-tabs li a:hover { opacity: 1; left: 0%; }

/*---------------------------------------------------------------------
                       Sofbox Specialities
-----------------------------------------------------------------------*/
.iq-fancy-box { padding: 40px 15px 25px 15px; overflow: hidden; position: relative; background: #fff; border: 1px solid #f2f2f2; }
.iq-fancy-box .iq-icon { border-radius: 90px; display: inline-block; height: 86px; width: 86px; line-height: 86px; text-align: center; color: #4ac4f3; background: #f4f4f4; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.iq-fancy-box:hover .iq-icon { color: #f4f4f4; background: #4ac4f3; }
.iq-fancy-box .iq-icon i { font-size: 46px; }
.iq-fancy-box .fancy-content h5 { z-index: 9; position: relative; }

/*---------------------------------------------------------------------
                          Counter
-----------------------------------------------------------------------*/
.counter { position: relative; min-height: 60px; }
.counter i { font-size: 60px; line-height: 65px; display: inline-block; float: left; margin-right: 20px; }
.counter span { display: inline-block; width: 70%; font-size: 40px; margin: 0; margin-bottom: 5px; line-height: 40px; float: left; }
.counter label { font-size: 18px; display: block; position: relative; margin: 0 0 15px 0; margin-bottom: 0; text-transform: uppercase; float: left; }
.counter-info { border-top: 1px solid rgba(255, 255, 255, 0.2); display: inline-block; width: 100%; position: relative; }
.counter-info-img { position: relative; display: inline-block; width: 100%; height: 100%; min-height: 200px; }
.counter-info-img img { margin-top: -30px; margin-bottom: -135px; }
.counter-info .iq-video { position: absolute; left: 68%; top: 60%; background: #fff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 80px; height: 80px; text-align: center; font-size: 38px; color: #4ac4f3; border-radius: 100%; line-height: 2.1; z-index: 9; }
.counter-info .iq-video i { margin-left: 7px; }
.counter-info .iq-waves { position: absolute; width: 384px; width: 24rem; height: 384px; height: 24rem; left: 68%; top: 60%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2; }
.counter-info .iq-waves .waves { position: absolute; width: 384px; width: 24rem; height: 384px; height: 24rem; background: rgba(255, 255, 255, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; border-radius: 320px; background-clip: padding-box; -webkit-animation: waves 3s ease-in-out infinite; animation: waves 3s ease-in-out infinite; }
.counter-info .iq-waves .wave-1 { -webkit-animation-delay: 0s; animation-delay: 0s; }
.counter-info .iq-waves .wave-2 { -webkit-animation-delay: 1s; animation-delay: 1s; }
.counter-info .iq-waves .wave-3 { -webkit-animation-delay: 2s; animation-delay: 2s; }
@-webkit-keyframes waves {
  0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
  100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}
@keyframes waves {
  0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
  100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}

/*---------------------------------------------------------------------
                          Loved By Our Customers
-----------------------------------------------------------------------*/
.iq-loved-customers .owl-carousel .owl-item .item { padding: 10px 10px 20px; }
.iq-client { position: relative; margin-top: 40px; padding: 30px; text-align: center; border: 1px solid #f2f2f2; -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.06); box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.06); }
.iq-client:before { position: absolute; content: ""; bottom: -8px; left: 5%; width: 90%; background: #4ac4f3; height: 8px; display: inline-block; z-index: -1; }
.iq-client .client-img { width: 80px; height: 80px; display: inline-block; border-radius: 90px; position: absolute; left: 50%; top: 0; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.client-info { margin-top: 30px; }
.client-name:before { content: "\f10d"; font-family: FontAwesome; position: absolute; top: 15px; left: 15px; font-size: 44px; color: #f0f0f0; line-height: normal; }
.client-name:after { content: "\f10e"; font-family: FontAwesome; position: absolute; bottom: 15px; right: 15px; font-size: 44px; color: #f0f0f0; line-height: normal; }
.client-info p { line-height: 28px; }
.owl-carousel .owl-nav { display: block; position: absolute; text-indent: inherit; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; z-index: 999; }
.owl-carousel .owl-nav .owl-prev { display: block; position: absolute; text-align: center; text-indent: inherit; left: -8%; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; transition: opacity 0.3s ease 0s, left 0.3s ease 0s; }
.owl-carousel .owl-nav .owl-next { display: block; position: absolute; text-align: center; text-indent: inherit; right: -8%; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; transition: opacity 0.3s ease 0s, right 0.3s ease 0s; }
.owl-carousel .owl-nav i { font-size: 24px; border-radius: 50%; width: 44px; height: 44px; line-height: 42px; padding-left: 0px; display: inline-block; color: #fff; background: #e7e7e7; font-weight: normal; text-align: center; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.owl-carousel .owl-nav i:hover { background: #4ac4f3; color: #fff; }

/*---------------------------------------------------------------------
                        Affordable Price
-----------------------------------------------------------------------*/
.iq-pricing { position: relative; display: inline-block; width: 100%; border: 1px solid #ededed; background: #fff; }
.iq-pricing .price-title { padding: 35px 20px; position: relative; }
.iq-pricing .price-title:after { position: absolute; content: ""; left: 0; bottom: 0; background: url('../images/drive/09.png') no-repeat center bottom; background-size: 100%; height: 100%; width: 100%; }
.iq-pricing .price-title h1 { font-family: 'Open Sans', sans-serif; line-height: 60px; font-size: 50px; position: relative; }
.iq-pricing .price-title h1 small { font-size: 16px; color: #fff; vertical-align: super; padding: 0 5px; }
.iq-pricing .price-title h1 small:first-child { font-size: 24px; }
.iq-pricing .price-title span { letter-spacing: 6px; position: relative; }
.iq-pricing ul { margin: 20px 0; }
.iq-pricing ul li { line-height: 50px; }
.iq-pricing .price-footer { padding: 30px 0; z-index: 9; position: relative; }

/*---------------------------------------------------------------------
                          Meet the Team
-----------------------------------------------------------------------*/
.iq-team { position: relative; overflow: hidden; }
.iq-team .iq-team-info { padding: 10px 0; }
.iq-team .iq-team-info span { font-family: 'Raleway', sans-serif; font-weight: 600; }
.iq-team .share { background: none; position: absolute; left: -65px; top: 10px; width: 40px; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.iq-team:hover .share { left: 15px; }
.iq-team .share ul li { margin: 5px 0; }
.iq-team .share ul li a { color: #fff; width: 45px; height: 45px; line-height: 45px; background: #333; color: #fff; border-radius: 90px; text-align: center; display: inline-block; }
.iq-team .share ul li a:hover { background: #4ac4f3; }
.iq-team .iq-team-img { position: relative; }
.iq-team .iq-team-img img { width: 100%; }
.iq-team .iq-team-img:before { content: ""; bottom: 0; opacity: 0; left: 0; position: absolute; width: 100%; height: 100%; background: rgba(74, 196, 243, 0); background: -moz-linear-gradient(top, rgba(74, 196, 243, 0) 0%, rgba(74, 196, 243, 1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74, 196, 243, 0)), color-stop(100%, rgba(74, 196, 243, 1))); background: -webkit-linear-gradient(top, rgba(74, 196, 243, 0) 0%, rgba(74, 196, 243, 1) 100%); background: -o-linear-gradient(top, rgba(74, 196, 243, 0) 0%, rgba(74, 196, 243, 1) 100%); background: -ms-linear-gradient(top, rgba(74, 196, 243, 0) 0%, rgba(74, 196, 243, 1) 100%); background: linear-gradient(to bottom, rgba(74, 196, 243, 0) 0%, rgba(74, 196, 243, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ac4f3', endColorstr='#4ac4f3', GradientType=0); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.iq-team:hover .iq-team-img:before { opacity: 1; }

/*************************************
          Compare Services
**************************************/
.iq-services-box .iq-icon i { font-size: 60px; float: left; margin-right: 20px; }
.iq-services-box  .services-content { display: table-cell; }
.iq-progress-bar-text { font-size: 16px; text-transform: uppercase; color: #4ac4f3; position: relative; margin-top: 50px; }
.iq-progress-bar-text span { float: right; background: #fff; border-radius: 4px; text-align: center; width: 40px; height: 30px; line-height: 30px; font-weight: 600; position: relative; bottom: 50px; right: 0; }
.iq-progress-bar-text span:before { content: ""; position: absolute; left: 50%; margin-left: -7px; bottom: -7px; width: 0; height: 0; border-style: solid; border-width: 7px 7px 0 7px; border-color: #ffffff transparent transparent transparent; }
.iq-progress-bar { background: #fff none repeat scroll 0 0; box-shadow: 0 0 0; height: 8px; margin: 0; position: relative; width: 100%; }
.iq-progress-bar > span { background: #333 none repeat scroll 0 0; display: block; height: 100%; width: 0; }

/*---------------------------------------------------------------------
                        Frequently Asked Questions
-----------------------------------------------------------------------*/
.iq-asked { position: relative; }
.iq-accordion { z-index: 9; position: relative; }
.iq-accordion .ad-title { position: relative; padding: 15px 50px 15px 15px; font-size: 16px; line-height: normal; cursor: pointer; background-color: #f5f7fb; display: block; text-align: left; color: #2c3e50; text-decoration: none; border-radius: 4px; }
.iq-accordion .ad-title:before { -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); cursor: pointer; content: "\f3d0"; font-family: "Ionicons"; position: absolute; top: 0; right: 0; display: block; padding: 14px 20px; color: #fff; font-size: 16px; line-height: 24px; height: 100%; font-weight: normal; -webkit-transition: all 0.25s ease-in-out 0s; -moz-transition: all 0.25s ease-in-out 0s; transition: all 0.25s ease-in-out 0s; background: #4ac4f3; }
.iq-accordion .ad-active .ad-title:before { content: "\f3d8"; font-family: "Ionicons"; }
.iq-accordion .ad-details { display: none; overflow: hidden; text-align: left; padding: 15px 15px; color: #666666; line-height: 24px; border: 1px solid #eeeeee; border-top: none; -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06); }
.iq-accordion .iq-ad-block { margin-bottom: 30px; }
.iq-accordion .iq-ad-block:last-child { margin-bottom: 0; }
.iq-objects-asked { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; }
.iq-objects-asked .iq-objects-01 { position: absolute; bottom: 10%; left: 0; }
.iq-objects-asked .iq-objects-02 { position: absolute; top: 37%; left: 35%; }
.iq-objects-asked .iq-objects-03 { position: absolute; top: 28%; left: 13%; border: 25px solid #4ac4f3; border-radius: 900px; height: 350px; width: 350px; }

/*---------------------------------------------------------------------
                                Latest Blog Post
-----------------------------------------------------------------------*/
.iq-blog-box { -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06); }
.iq-blog-box .iq-blog-image img { width: 100%; }
.iq-blog-detail { padding: 20px 15px 15px; background: #fff; }
.iq-blog-detail a, .iq-blog-detail  .blog-title a h5 { color: #333; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
.iq-blog-detail a:hover, .iq-blog-detail  .blog-title a:hover h5 { color: #4ac4f3; }
.iq-blog-meta { margin: 15px 0 5px; border-top: 1px solid #ececec; padding-top: 15px; }
.iq-blog-meta ul li { margin: 0 15px 0 0; padding: 0; font-size: 16px; }

/*---------------------------------------------------------------------
                           Our clients
-----------------------------------------------------------------------*/
.iq-our-clients { border-top: 1px solid #ededed; }
.iq-our-clients .owl-carousel .owl-nav { margin-top: -20px; }

/*---------------------------------------------------------------------
                            Subscribe Our Newsletter
-----------------------------------------------------------------------*/
.iq-newsletter .form-inline { text-align: center; }
.iq-newsletter .form-group { width: 40%; }
.iq-newsletter .form-control { border-radius: 4px; height: 50px; width: 100%; display: inline-block; padding-left: 25px; box-shadow: none; border: none; }

/*---------------------------------------------------------------------
                              Get in Touch
-----------------------------------------------------------------------*/
.iq-footer-box .iq-icon i { font-size: 26px; float: left; margin-right: 20px; height: 60px; width: 60px; background: #f4f4f4; text-align: center; line-height: 60px; color: #4ac4f3; border-radius: 90px; }
.iq-footer-box  .footer-content { display: table-cell; }
.info-share { margin: 30px 0 0; padding: 0; text-align: left; }
.info-share li { display: inline-block; list-style: none; padding: 0; margin: 0px 5px; }
.info-share li a { display: block; width: 45px; height: 45px; line-height: 45px; font-size: 16px; color: #666; background: transparent; border: 1px solid #666; text-align: center; border-radius: 50%; }
.info-share li a:hover { background: #4ac4f3; border-color: #4ac4f3; color: #fff; }
.footer-copyright { border-top: 1px solid #efefef; }


/*---------------------------------------------------------------------
                            Footer Info
-----------------------------------------------------------------------*/
.footer-info { position: relative; }
.footer-info iframe { border: 0px; width: 100%; height: 550px; position: absolute; top: 0; left: 0; z-index: 1; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); }
.iq-get-in { position: relative; z-index: 9; background: #fff; padding: 30px 30px; margin-top: 30px; -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08); box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08); }
.contact-form .section-field { position: relative; width: 100%; float: left; }
.contact-form .section-field input { position: relative; width: 100%; margin-bottom: 20px; border-radius: 4px; padding-left: 20px; height: 48px; line-height: 48px; clear: both; color: #b6b6b6; border: 1px solid #e1e1e1; }
.contact-form .section-field input:focus, .contact-form .section-field.textarea textarea:focus { border: 1px solid #4ac4f3; box-shadow: none; outline: none; }
.contact-form .section-field.textarea textarea { width: 100%; float: left; color: #b6b6b6; border: 1px solid #e1e1e1; border-radius: 4px; padding: 15px 0 0 20px; resize: none; }
#formmessage { display: none; }
.contact-info { position: relative; }
.contact-info:before { content: ""; position: absolute; height: 100%; width: 1px; left: 15px; top: 0; background: #e5e5e5; }
.info-share { margin: 40px 0 0; padding: 0; text-align: left; }
.info-share li { display: inline-block; list-style: none; padding: 0; margin: 0px 5px; }
.info-share li a { display: block; width: 45px; height: 45px; line-height: 45px; font-size: 16px; color: #666; background: transparent; border: 1px solid #666; text-align: center; border-radius: 50%; }
.info-share li a:hover { background: #4ac4f3; border-color: #4ac4f3; color: #fff; }


/*---------------------------------------------------------------------
                           Breadcrumb Inner Page
-----------------------------------------------------------------------*/
.iq-breadcrumb { margin: 0px; position: relative; display: inline-block; width: 100%; }
.iq-breadcrumb-title .title { letter-spacing: 2px; text-transform: uppercase; }
.iq-breadcrumb-title .title span { font-family: 'Open Sans', sans-serif; }
.iq-breadcrumb .breadcrumb { background: rgba(255, 255, 255, 1); padding: 10px 25px; border-radius: 90px; display: inline-block; position: relative; bottom: -20px; margin-bottom: 0; -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }
.iq-breadcrumb .breadcrumb li a { color: #2c3e50; }
.iq-breadcrumb .breadcrumb li a i { padding-right: 5px; }
.iq-breadcrumb .breadcrumb li a:hover { color: #4ac4f3; }
.iq-breadcrumb .breadcrumb li { color: #2c3e50; font-size: 16px; font-weight: 500; }
.iq-breadcrumb .breadcrumb li.active { color: #4ac4f3; }
.iq-breadcrumb .breadcrumb>li+li:before { color: #2c3e50; }

/*pagination-nav*/
.pagination { margin: 0px; }
.pagination li a { margin: 0px; border-radius: 0px; color: #666; }
.pagination > li > a, .pagination > li > span { padding: 10px 18px; }
.pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover { border-color: #333333; background-color: #333333; color: #fff; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background-color: #4ac4f3; border-color: #4ac4f3; color: #fff; }
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span { border-bottom-right-radius: 90px; border-top-right-radius: 90px; }
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span { border-bottom-left-radius: 90px; border-top-left-radius: 90px; }

/*---------------------------------------------------------------------
                              Blog Page
-----------------------------------------------------------------------*/
.iq-page-blog .iq-blog-box { box-shadow: none; border: 1px solid #ededed; }
.iq-blog-box .iq-get-in { margin-top: 0; box-shadow: none; }
.iq-post-author { position: relative; min-height: 130px; }
.iq-post-author-pic { float: left; }
.iq-post-author a { color: #fff; }
.iq-post-author a:hover { text-decoration: underline; color: #fff; }

/* Comments Box */
.iq-comment-list li { margin-top: 25px; margin-bottom: 0; vertical-align: top; padding: 0; }
.iq-comment-list .iq-comments-media { padding: 15px 15px 30px; border-radius: 0px; border-bottom: 1px solid #eee; }
.iq-comment-list li:last-child .iq-comments-media { border-bottom: none; padding-bottom: 0; }
.iq-comment-list ul { padding-left: 60px; }
.iq-comment-list .iq-comments-photo { padding-right: 20px; }
.iq-comment-list .iq-comments-photo a img { width: 80px; height: auto; }
.iq-comment-list .iq-comments-info { position: relative; }
.iq-comment-list .iq-comments-info .title { margin: 0; line-height: 22px; }
.iq-comment-list .iq-comment-metadata { line-height: 22px; margin-top: 7px; margin-bottom: 10px; }
.iq-comment-list .iq-comment-metadata a { color: #333333; }
.iq-comment-list .iq-comment-metadata i { padding-right: 7px; color: #4ac4f3; }
.iq-comment-list .reply { position: absolute; line-height: 22px; margin: 0; padding: 2px 16px; font-size: 11px; right: 0; top: 0; font-weight: 500; }
.iq-comment-list .iq-comments-media .iq-comments-info .reply { color: #ffffff; }
.iq-comment-list .iq-comments-info p { margin-top: 5px; margin-bottom: 0; }

/*---------------------------------------------------------------------
                             Blog - SideBar
-----------------------------------------------------------------------*/
.iq-post-sidebar { height: 100%; }
.iq-sidebar-widget { margin-bottom: 40px; padding: 20px 20px; border: 1px solid #ededed; border-radius: 0px; }
.iq-sidebar-widget:last-child { margin-bottom: 0; }
.iq-sidebar-widget .iq-widget-title { padding-bottom: 10px; margin-bottom: 20px; font-size: 24px; }

/*widget-menu*/
.iq-widget-menu { position: relative; }
.iq-widget-menu ul li a { font-size: 14px; display: block; color: #2c3e50; position: relative; }
.iq-widget-menu i { padding-top: 4px; position: absolute; right: 18px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
.iq-widget-menu ul li a span { padding: 5px 10px 5px 0; display: block; font-size: 14px; }
.iq-widget-menu ul li a span:hover { text-decoration: none; color: #4ac4f3; }
.iq-widget-menu ul li.active { border-bottom: none; }
.iq-widget-menu ul li.hover a { color: #4ac4f3; }
.iq-widget-menu ul li.hover a span { background: transparent; color: #4ac4f3; }
.iq-widget-menu ul ul li a span { color: #333333; }
.iq-widget-menu ul ul li a span:hover { color: #4ac4f3; }
.iq-widget-menu ul ul { display: none; padding-left: 20px; }
.iq-widget-menu ul ul a { display: block; color: #333333; font-size: 14px; }
.iq-widget-menu ul ul a:hover { color: #4ac4f3; }
.iq-widget-menu ul li.active i { transform: rotate(90deg); }

/*SideBar - Search*/
.iq-sidebar-widget .iq-widget-search { position: relative; }
.iq-sidebar-widget .iq-widget-search input { padding-right: 40px; box-shadow: none; border-radius: 90px; color: #2c3e50; height: 50px; border: 2px solid #f2f2f2; background: #ffffff; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
.iq-sidebar-widget .iq-widget-search input:focus { background: #ffffff; }
.iq-sidebar-widget .iq-widget-search i { position: absolute; right: 8px; color: #4ac4f3; cursor: pointer; padding: 16px 12px; font-size: 18px; }
.iq-sidebar-widget .iq-widget-search input:focus { border-color: #4ac4f3; }

/*SideBar - Posts*/
.iq-sidebar-widget .iq-recent-post { margin-top: 20px; }
.iq-sidebar-widget .iq-recent-post .media-body > a { display: block; font-size: 15px; font-weight: 600; color: #2c3e50; }
.iq-sidebar-widget .iq-recent-post .media-body > a:hover { color: #4ac4f3; }
.iq-sidebar-widget .iq-recent-post .media-body span { color: #666666; }
.iq-sidebar-widget .iq-recent-post .media-body span .fa { color: #333333; margin-right: 5px; }

/*SideBar - Tags*/
.iq-tags li { padding-left: 2px; display: inline-block; padding-right: 2px; margin: 0 0 15px; }
.iq-tags li a { background: transparent; color: #666; padding: 4px 8px; border: 1px solid #666; border-radius: 90px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
.iq-tags li a:hover { border-color: #4ac4f3; background: none; color: #4ac4f3; }

/* Meta - SideBar */
.iq-widget-archives li { margin: 10px 0; }
.iq-widget-archives li a { color: #666; }
.iq-widget-archives li a i { font-size: 16px; margin-right: 5px; }
.iq-widget-archives li a:hover { margin-left: 5px; color: #4ac4f3; }

/*---------------------------------------------------------------------
                             404 Error
-----------------------------------------------------------------------*/
.iq-error .big-text { font-size: 180px; font-family: 'Open Sans', sans-serif; line-height: 180px; color: #333333; }
.iq-error h6 { background-color: #4ac4f3; color: #ffffff; display: inline-block; }
.iq-error .form-inline.iq-subscribe { text-align: center; }
.iq-error .iq-subscribe .form-group { width: 40%; }
.iq-error .iq-subscribe .form-control { border-radius: 90px; height: 50px; width: 100%; display: inline-block; padding-left: 25px; box-shadow: none; border: none; background: #f4f4f4; }

/*---------------------------------------------------------------------
                            Coming Soon
-----------------------------------------------------------------------*/
.iq-coming .big-text { font-size: 80px; font-family: 'Open Sans', sans-serif; text-transform: uppercase; color: #333333; }
.iq-coming img { width: 140px; }
.iq-coming .form-inline.iq-subscribe { text-align: center; }
.iq-coming .iq-subscribe .form-group { width: 40%; }
.iq-coming .iq-subscribe .form-control { border-radius: 90px; height: 50px; width: 100%; display: inline-block; padding-left: 25px; box-shadow: none; border: none; background: #f4f4f4; }
.iq-coming .countdown-timer { border-radius: 5px; margin-bottom: 20px; max-width: 300px; margin: 50px auto; }
.iq-coming .countdown-timer h5 { font-size: 14px; letter-spacing: 0.5px; text-align: center; padding-top: 10px; text-shadow: none; }
.iq-coming .countdown-timer .timer { padding: 10px; text-align: center; padding-top: 15px; }
.iq-coming .countdown-timer .timer .timer-wrapper { display: inline-block; width: 200px; height: 50px; }
.iq-coming .countdown-timer .timer .timer-wrapper .time { font-size: 80px; font-weight: bold; color: #333; margin: 0 50px; float: left; }
.iq-coming .countdown-timer .timer .timer-wrapper .text { font-size: 20px; }
#countdown { list-style: none; margin: 50px 0; padding: 0; display: block; text-align: center; display: inline-block; }
#countdown li { display: inline-block; }
#countdown li span { font-size: 50px; font-weight: 800; line-height: 80px; margin: 0 30px; }
#countdown li.seperator { font-size: 50px; line-height: 40px; vertical-align: top; margin-top: 15px; }
#countdown li p { color: #a7abb1; font-size: 20px; }